
body{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}
h1 {
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  color:#66BFBF;
  font-family: 'Sacramento', cursive;
  line-height: 2;
}
h2 {
  color: #66BFBF;
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
}
h3 {
  color:#11999E;
  font-family: 'Montserrat', sans-serif;

}
hr {
  margin-top: 40px;
  border-style:none;
  border-top-style: dotted;
  border-color:#66BFBF;
  border-width:5px;
  width:10%;
}
.subtitle{
  font-weight: normal;
}
.footer-link{
  color: #11999E;
}
.top-container {
  background-color:#EAF6F6;
  position: relative;
  padding-top: 100px;
}
.middle-container {
line-height: normal;
text-align: center;
}
.bottom-container {
padding: 50px;
background-color: #EAF6F6;
position: relative;
text-align: center;
}
.top-cloud{
  position: absolute;
  left:300px;
  top:50px;
}
.bottom-cloud{
  position: absolute;
  right:300px;
  bottom: 300px;
}
.profile-img{
  width: 200px;
  height:200px;
}
.description{
  padding-left: 50px;
  padding-right: 50px
}
.skill-row{
  margin: auto;
  width: 50%;
}
.contact-me{
  padding-bottom: 50px;
}
.contact-button{
  background-color: #66BFBF;
  border: none;
  color: white;
  border-radius: 10px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.footer-link{
  padding: 30px;
}
